[Unit]
Description=Start EyeFR services after reboot
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart={{ app_dir }}/compose/init.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target