[Unit]
Description=Start and manage all FR Docker Containers with Ansible
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/eyemetric/fr/compose/init.sh
ExecStop=/opt/eyemetric/fr/compose/shutdown.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

